@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear:   both;
  }
}

$spacing: 16px;

@mixin fwfield-focus {
  border: 1px solid #5897fb;
}

@mixin fwfield {
  font-family:        inherit;
  box-sizing:         border-box;
  width:              100%;
  padding:            10px;
  margin:             $spacing/2 0;
  border-radius:      3px;
  background:         white;
  border:             1px solid #ccc;
  -webkit-transition: background 0.2s;
  line-height:        1.4em;
  &:focus {
    @include fwfield-focus;
  }
  &.invalid:not(:focus) {
    background: lighten(red, 47%);
  }
  box-shadow:         inset 0 1px 2px rgba(0, 0, 0, 0.07);
}