@import 'common';
@import "tooltips";
@import "select2";
@import "../../node_modules/sweetalert/lib/sweet-alert";

.form-error {
  padding:          8px;
  margin:           12px 0 10px;
  border:           1px solid #f62e2e;
  background-color: #f4c3c3;
  font-weight:      bold;
}

.invisible-target-button {
  display: none;
}

input.fieldwork-field:not(.button), textarea.fieldwork-field {
  @include fwfield();
}

button.jfcomponent {
  margin: 8px 0;
}

.horizontalgroup {
  @include clearfix;
  margin: 0 (-$spacing/2);
  .group-item {
    float:      left;
    box-sizing: border-box;
    padding:    0 $spacing/2;
  }
  &.two-items {
    .group-item {
      width: 50%;
    }
  }
}

.checkbox-wrapper {
  input[type="checkbox"] {
    width:          auto;
    margin:         8px;
    vertical-align: -2px;
  }
}

.radio-option {
  input[type="radio"] {
    margin:         8px;
    vertical-align: -1px;
  }
  label {
    margin-left:  -8px;
    padding-left: 8px;
  }
}

.xdsoft_datetimepicker {
  z-index: 1500;
}

.sweet-overlay {
  z-index: 2000;
}

.sweet-alert {
  z-index: 2500;
  .error {
    box-sizing: initial;
  }
}

textarea.fieldwork-field {
  min-height: 120px;
}

input.fieldwork-field.subjectline {
  margin-bottom:              0;
  border-bottom:              0;
  border-bottom-left-radius:  0;
  border-bottom-right-radius: 0;
  &:focus {
    border-bottom: 0;
  }
  & + textarea {
    margin-top:              0;
    border-top-left-radius:  0;
    border-top-right-radius: 0;
  }
}
